html {
    background-color: brown;
}

body {
    font-family: 'Abel', sans-serif;
    background-color: blanchedalmond;
}

th, td {
    background-color: blanchedalmond;
    font-size: 25px;
}

 .input-field input[type=text]:focus + label {
    color: brown !important;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid brown !important;
    box-shadow: 0 1px 0 0 brown !important;
}